/* 
    Created on : 20/02/2014, 22:15:59
    Author     : Marlon Oliveira Barbosa
*/

body{
    padding: 0;
    margin: 0;
    #background: #3d3d3d;
	/*background:url(../img/fundo2.png);*/
}
#wrapper{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: 'Duru Sans', sans-serif;

}
#login{
    width: 350px;
    background: #fff;
    margin: 20% auto;
    padding: 25px;
}
#retorno{
    background: #428bca;
    margin:  5px 0 ;
    color: #fff;
    padding: 2px 3px;
    border: #cecece solid 2px;
    display: none;
}
#conteudo {
    border-left: 1px solid #e7e7e7;
    margin: 0 0 0 250px;
    padding: 0 30px;
    position: inherit;
        }
#menu ul li {
        margin: 0; padding: 0px;
        border-bottom: 1px solid #CCC;
        text-align: left;
        list-style-type: none;
        }
/*Inicia css sistema pagina inicial*/

.inicia{
    background: #1C1C1C;
    float: left;
    position:absolute;
    left:1%;
    height:1%;
    top: :10%;
}

.tagid{
    display: none;
}
header{
	height: 100px;
    width: 100%;
    /*background-image:url(../img/fundo_cabe.png);*/
    background-repeat: repeat-x;
    float: left;
    display: table;
}

.logo{
    float: left;
    margin: 15px 20px;
}
.logoff{
     margin: 4px 85%;
     cursor: pointer;
}
/*Pheader nav{
    height: 40px;
    width: 100%;
    background-image: url("../img/background-menu.png");
    background-repeat: repeat-x;
    margin-top: -6px;
     border: solid 2px #646464;
}*/
header nav ul {
    width: 100%;
    
}
header nav ul li{
    height: auto;
    float: left;
    list-style: none;
    /*border-right: solid 1px #646464;*/
    padding: 1px 20px 5px 20px;
    margin-top: 3px;
    margin-left: 0px;
}
#.last{
    #border-right: solid 0px #646464;
#}
.botoes_apoio {
	position: 5px 20px 5px 15px;
}
nav ul li:last-child{
    padding: 5px 25px;
    float: right;
    /*border-right: solid 1px #3d3d3d;
    border-left: solid 1px #3d3d3d;*/
    color: #fff;
}

header nav ul li div{
    margin: -3px 5px;
    padding: 0px 25px 0px 0px;
    color: whitesmoke;
    padding: 0px 13px 0px 28px;
    cursor: pointer;
}
header nav ul li div:hover{
    background-image: url("../img/background-menu-div.png");
    background-repeat: repeat-x;
    border-radius: 5px;
    border: solid 1px #646464;
    height: 25px;
    width: 105%;
   
}
header nav ul li div a{
    color: #fff;
    text-decoration: none;
}
header nav ul li div a:hover{
    color: #fff;
    text-decoration: none;
}

/*css conteudo*/
.conteudo{
   background: #FFFFFF;
   background-image: url("../img/sobra-menu-bootom.png");
    background-position-y:0px;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-left: 70px;
    float: left;
    width: 80%;
    background-image: url('../img/sobra-conteudo.png'), url('../img/sobra-conteudo-direita.png');
    background-position: -5px 50%, 100% 50%;
    background-repeat: no-repeat, no-repeat;
}
.conteudo label{
    padding-left: 28px;
}

.conteudoMesmo{
    margin: 0 auto;
    width: 85%;
    /*border: solid 1px #d7d7d7;*/
    padding: 15px 10px 15px 50px;
    margin-bottom: 15px;
    font-family: Century Gothic;
    font-size: 14px;
}
.conteudoMesmo .home li{
    margin: 20px 20px;
    width: 140px;
    height: 140px;
    --background: #fbfbfb; /* Old browsers */
   -- background: -moz-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%); /* FF3.6+ */
    --background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    --background: -webkit-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    --background: -o-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* Opera 11.10+ */
    -background: -ms-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* IE10+ */
    --background: linear-gradient(to bottom, #fbfbfb 0%,#f2f2f2 100%); /* W3C */
    --filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    --border: solid 1px #d5d5d5;
   -- box-shadow: 0px 0px 5px #3d3d3d;
    --cursor: pointer;
}



/**/
/*Pedido*/
.control-label{
    padding-top: 8px;
}
.removeProduto{
    background-image: url('../img/removeProduto.png');
    background-repeat: no-repeat;
    background-position: 0px 17px;
    width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
}
.addProduto{
    background-image: url('../img/AddProduto.png');
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 30px; 
    margin-right: 40px;
    cursor: pointer;
}
.produtosAutoComplete{
    position: absolute;
    width: 370px;
    top: 140px;
    left: 215px;
    float: right;
    height: 100px;
    overflow: auto;
    z-index: 999;
    border: solid 2px #428bca;
    cursor: pointer;
    background: #fff;
    display: none;
}
.idCliente{
    display: none;
}
.modal tbody tr{
    cursor: pointer;
}

.produtosAutoComplete div:hover{
    background: #d7d7d7;
}
.modal-body table thead th:nth-child(1){
    width: 8%;
}
.modal-body table thead th:nth-child(2){
    width: 62%;
}
.modal-body table thead th:nth-child(3){
    width: 10%;
}
.modal-body table thead th:nth-child(4){
    width: 20%;
}



/*footer*/
footer{
    float: left;
    width: 95%;
    margin: 0px 25px ;
    height: 40px;
    margin-top: 50px;
    margin-bottom:10px;
     border: solid 1px #d5d5d5;
     border-radius: 5px;
     box-shadow: 0px 0px 2px #3d3d3d;
     color: #908190;
     padding-top: 10px;
     text-align: center;
}
/*css cadastra cliente*/
.btn-cadatra-cliente{
    float: right;
    margin: 0px 271px;
}
.errosCliente{
    display: none;
    width: 95%;
    margin:5px 10px;
    padding: 10px;
}
/*associa tag*/
.lastIdCliente{
    display: none;
}
.load{
    display: none;
    margin: 10px 35%;
}
.associaTag{
    margin: 70px 10px;
    padding: 30px 0px;
}
/*Cadastro de funcionario*/


.btn-cadatra-funcionario{
    float: right;
    margin: 0px 271px;
}
.LoadFuncionario{
   position: absolute;
   left: 300px;
}
.paginationFuncionario{
    margin-left: 45%;
    display: none;
    
}
/*editar funcionario*/
.EditarFuncionario{
    display: none;
}
.loadF{
    margin: 50px 250px;
}
/*my account*/

.btn-editar-func{
    margin-left: 205px; 
    
}
.myaccountForm{
   display: none;
}
.myaccount .loadMyaccount{
    margin: 35px 250px;
}


/*Leticial alterações*/

.btn-group-vertical {
    width: 20%;
    margin: 0; padding: 0;
    float: left;
    top: 52px;
    font-family: Century Gothic;
}
.btn-group {
    top: 17px;
}
*{margin: 0; padding: 0;}

.menu{
    list-style:none; 
    /*border:1px solid #c0c0c0; */
    float:left;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.menu li{
    position:relative; 
    float:left; 
    /*border-right:1px solid #c0c0c0; */
}
.menu li a{
    color:#333; 
    padding:5px 15px; 
    display:list-item;
}
.menu li a:hover{
    color:#fff; 
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    -webkit-box-shadow:0 3px 10px 0 #ccc; 
    text-shadow:0px 0px 5px     #000000; 
}
.menu li   ul{
    position:absolute; 
    width: auto;
    top:25px; 
    left:0; 
    background-color:#EEE9E9; 
    display:none; 
}
.menu li:hover ul, .menu li.over ul{
    display:block;
}
.menu li ul li{
   /* border:1px solid #c0c0c0; */
    display:block;
    width:auto;
}
.sub-item {
text-align: left;
}
.fonteMenu {
    text-shadow: 0px 2px 3px #666;
    font-family: calibri;
    font-size: 30px;
    text-decoration: bold;
}
.fonteMenuPag{
    font-size: 34px;
    text-shadow: 0px 2px 3px #666;
    font-family: calibri;
}
.tituloPagHome {
    text-shadow: 0px 2px 3px #666;
    text-decoration: bold;
    font-size: 20px;
    font-family: calibri;
    float: right;
    padding-right: 100px;
}
.button_form{
   margin-left:55%;
}
.fonteMenuSup{
    text-shadow: 0px 2px 3px #666;
    font-family: calibri;
    font-size: 16px;
}

.botao:hover {
box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff6600)) !important;
}

.botao:active {
box-shadow: inset 0 2px 5px #fff, 0 1px 3px #666 !important;
top:2px
}
.botao a, .botao a:active, .botao a:hover, .botao a:visited { color: #fff; text-shadow: 0 1px 0 #666; 
}

.inf{
font-family: Century Gothic;
font-size: 10px;
float: right;
}